body {
	background-color: #000000;
	text-align: center;
	max-width: 1920px;
	max-height: 1080px;
}

#countWrapper{
	max-width: 940px;
	max-height: 940px;
	margin: 10px auto 10px auto;
	padding: 20px;
	background-color: #000000;
}

#startWeek{

}

#endWeek{

}

h1 {
	color: #00FF00;
	font-size: 100px;
}

h1 span {
	color: #dff910;
}

html{
    font-family: "helvetica neue", helvetica, sans-serif;
    margin: 10px;
    margin-left: 70px;
}

#progressBar {
	width:360px;
  background-color: #ffffff;
  border: 1px solid #9a9a9a;
  color: #ffffff;
  margin: -1px 0 0 -1px;
  overflow: hidden;
  width: 100%;
	border-color: #00FF00;
	border-width: 3px;
}

#progressBar, #progressBlock{
  position: relative;
}

#progress {
  width: 0px;  /*#myBar.style.width = width*/
  height: 50px;
  background-color: #00FF00;
}

#progressBlock{
background-color: #000000;
display: block;
margin: 6px;
margin: 20px auto;
}
