*{
  padding: 0;
  margin: 0;
}
body{
  background-color: red;
}

#text{
  position: relative;
  background-color: red;
  height: 150px;
  width: 70%;
  top: 50px;
  left: 225px;
}
#warningtext{
  color: white;
  position: relative;
  font-size: 70px;
  left:200px;
  top: 20px;
}
#picture{
  position: relative;
  width: 80%;
  height: 580px;
  background-color: red;
  left:150px;
  border-style: solid;
  border-width: 5px;
}
