.fact {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#heading-fact {
  min-width: 100%;
}

#message-fact {
  width: 100%;
  margin-top: 35px;
  text-align: center;
}

@media screen and (min-width:800px) {

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  ._10 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  ._8 {
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
  }
}
