#heading-advi {
  font-size: 120px;
}
.body-advi {
  font-size: 115px;
}
.heading-fact {
  font-size: 100px;
}
.message-fact {
  font-size: 40px;
}
#top, #bottom {
  font-size: 90px;
}
#heading-imag {
  font-size: 100px
}
#message-image {
  font-size: 80px;
}
#heading-cong {
  font-size: 120px;
}
#message-cong {
  font-size: 90px;
}
#heading-warn {
  font-size: 106px;
}
#message-warn {
  font-size: 100px;
}
#heading-job {
  font-size: 120px;
}
#message-job {
  font-size: 40px;
}
#heading-split {
  font-size: 80px;
}
#message-split {
  font-size: 30px;
}
.fs_5em {
  font-size: 5em;
}

.fs_4em {
  font-size: 4em;
}

.fs_3em {
  font-size: 3em;
}

.fs_2em {
  font-size: 2em;
}

.fs_1em {
  font-size: 1em;
}
