.split {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.writing-col {
  width: 50%;
}

#heading-split {
  min-width: 100%;
  text-align: center;
}

#message-split {
  width: 100%;
  margin-left: 15px;
}

.logoSplit {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(70%, -50%);
}

@media screen and (min-width:800px) {

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
